# Visual Studio (arquivos locais)
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build (NUNCA versionar)
bin/
obj/

# Testes
TestResults/

# Logs
*.log

# Cache / Temporários
*.tmp
*.temp

# NuGet
packages/
*.nupkg

# Variaveis de ambiente
.env